<nav>
  <a routerLink="/">OnTract</a>
  <div>
    <ul>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/stakeholders">Stakeholders</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/delivery">Delivery</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/items">Items</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/items">Logs</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/items">Users</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/items">Projects</a>
      </li>
      <!-- Add more menu items as needed -->
    </ul>
  </div>
</nav>
