<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<!-- Navigation -->
<nav [ngClass]="{ 'open': isMobileMenuOpen }">
  <div class="">
    <ul>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/stakeholders">Stakeholders</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/delivery">Deliveries</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/inventory">Inventory</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/logs">Logs</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/users">Users</a>
      </li>
      <li routerLinkActive="border-b-2 border-white">
        <a routerLink="/projects">Projects</a>
      </li>
    </ul>
  </div>

  <div class="user-container">
    <div class="user-icon">
      <span class="material-symbols-outlined">
    person
  </span>
    </div>
    <label class="username"> Username</label>
  </div>



  <!-- Hamburger menu icon -->
  <div class="hamburger-menu" (click)="toggleMobileMenu()">
    <i class="material-icons">menu</i>
  </div>
</nav>


