<div
  *ngIf="deliveries.length > 0; else noDeliveries"
  class="delivery-list">


  <div *ngFor="let delivery of deliveries" (click)="navigateToDeliveryPage(delivery, delivery.id)"
       class="delivery-item">

    <h3>{{ delivery.destination }}</h3>

    <div class="delivery-details">
      <p class="delivery-info">
        <span class="info-label">Notes:</span>
        {{ delivery.notes }}
      </p>
      <p class="delivery-info">
        <span class="info-label">Route:</span>
        {{ delivery.route }}
      </p>
      <p class="delivery-info">
        <span class="info-label">Status:</span>
        {{ delivery.status }}
      </p>
      <p class="delivery-info">
        <span class="info-label">Date:</span>
        {{ delivery.date }}
      </p>
    </div>

    <table>
      <thead>
      <tr class="table-header">
        <th class="header-cell">Package</th>
        <th class="header-cell">Stakeholder</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let deliveryPackage of delivery.packages" class="package-item">
        <td class="cell package-type-name">{{ deliveryPackage.packageType.name }}</td>
        <td class="cell stakeholder-name">{{ deliveryPackage.stakeholder?.name || 'N/A' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noDeliveries>
  <div class="no-deliveries">
    <h2>No deliveries planned</h2>
  </div>
</ng-template>
