<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

<!-- Drop Down List -->
<div class="input-container">
  <select id="dropdownInput">
    <option value="option1">Stakeholder</option>
    <option value="option2">Phone Number</option>
    <option value="option3">Tract Number</option>
    <option value="option4">Address</option>
  </select>

  <!-- Search Filter -->
  <div class="input-wrapper">
    <span class="material-symbols-outlined">
      search
    </span>
    <!--close-->
    <input id="searchInput" type="text" placeholder="Search...">
  </div>

  <!-- Input Actions Buttons -->
  <div class="btn-wrapper">
    <button>
      <span class="material-symbols-outlined">
        ios_share
      </span>
      Export
    </button>
    <button id="searchButton">
    <span class="material-symbols-outlined">
      filter_list
    </span>
      Filter
    </button>
    <button>
      <span class="material-symbols-outlined">
        filter_list_off
      </span>
      Clear
    </button>
  </div>
</div>
