// Variables
$primary-color: #007bff;
$background-color: #f8f9fa;

// Mixins
@mixin button-styles {
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// Styles
.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: $background-color;

  .filter-item {
    margin-bottom: 20px;
    width: calc(50% - 10px);

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }

    select,
    .radio-wrapper {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 4px;
    }

    .input-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      input {
        margin-right: 8px;
      }
    }
  }

  .radio-container {
    width: calc(33.33% - 10px);

  }

  .radio-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;

    .input-wrapper {
      margin-bottom: 8px;

      input {
        margin-right: 8px;
      }
    }
  }
}

.filter-button {
  @include button-styles;
  margin-bottom: 20px;
}
