<div class="stakeholder-form">
  <div class="stakeholder-form-header">
    <h2>Details</h2>
    <button type="submit" class="submit-button">Submit</button>
  </div>
  <form [formGroup]="stakeholderForm" (ngSubmit)="onSubmit()" class="stakeholder-form-wrapper">

    <!-- Personal Details -->
    <div class="form-section">

      <!-- Name and Stakeholder Comments -->
      <div class="form-wrapper">
        <div class="form-group">
          <label for="name">Name</label>
          <textarea id="name" formControlName="name" class="material-input"></textarea>
          <div *ngIf="f['name'].hasError('required')" class="error-message">Name is required</div>
        </div>
        <div class="form-group">
          <label for="stakeholderComments">Stakeholder Comments</label>
          <textarea id="stakeholderComments" formControlName="stakeholderComments" class="material-input"></textarea>
        </div>
      </div>
    </div>

      <!-- Contact Info -->
      <div class="form-section">
        <div class="form-wrapper" >
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <textarea id="phoneNumber" formControlName="phoneNumber" class="material-input" ></textarea>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <textarea id="email" formControlName="email" class="material-input" ></textarea>
          </div>
        </div>
      </div>

      <!-- Location -->
      <div class="form-section">
        <div class="form-wrapper">
          <div class="form-group">
            <label for="streetAddress">Street Address</label>
            <textarea id="streetAddress" formControlName="streetAddress" class="material-input"></textarea>
          </div>
          <div class="form-group">
            <label for="mailingAddress">Mailing Address</label>
            <textarea id="mailingAddress" formControlName="mailingAddress" class="material-input"></textarea>
          </div>
        </div>
      </div>



    <!-- Consultation -->
    <div class="form-section">

      <!-- Stakeholder Status and Is Person -->
      <div class="form-wrapper">
        <div class="form-group">
          <label for="stakeholderStatus">Stakeholder Status</label>
          <select id="stakeholderStatus" formControlName="stakeholderStatus" class="material-input">
            <option value="GREEN">GREEN</option>
            <option value="RED">RED</option>
            <option value="YELLOW">YELLOW</option>
          </select>
        </div>

        <div class="form-group">
          <label for="isPerson">Is Person</label>
          <select id="isPerson" formControlName="isPerson" class="material-input">
            <option value="YES">YES</option>
            <option value="NO">NO</option>
          </select>
        </div>
      </div>

      <!-- Attempts and Consultation -->
      <div class="form-wrapper">
        <div class="form-group">
          <div class="label-wrapper">
            <label for="attempts">Attempts</label>
            <button type="button" class="add-button" (click)="addAttempt()">+ Stamp Date</button>
          </div>
          <input type="text" id="attempts" formControlName="attempts" class="material-input" />
        </div>
        <div class="form-group">
          <div class="label-wrapper">
            <label for="consultation">Consultation</label>
            <button type="button" class="add-button" (click)="stampDate()">+ Stamp Date</button>
          </div>
          <input type="text" id="consultation" formControlName="consultation" class="material-input" />
        </div>
      </div>

      <!-- Contacted and Follow Up -->
      <div class="form-wrapper" >
        <div class="form-group">
          <label for="contacted">Contacted</label>
          <select id="contacted" formControlName="contacted" class="material-input">
            <option value="YES">YES</option>
            <option value="NO">NO</option>
          </select>
        </div>
        <div class="form-group">
          <label for="followUp">Follow Up</label>
          <input type="text" id="followUp" formControlName="followUp" class="material-input" />
        </div>
      </div>


    </div>

  </form>
</div>

