<!-- Create Delivery Form -->
<form [formGroup]="createDeliveryForm" (ngSubmit)="createDelivery()" class="create-delivery-form">

  <!-- Step 1: Select Delivery Method -->
  <div *ngIf="currentStep === 1">
    <label>
      Delivery Method:
      <select formControlName="deliveryMethod" (change)="onDeliveryMethodChange()">
        <option disabled>Select a Delivery Method</option>
        <option value="person">Person</option>
        <option value="mail">Mail</option>
      </select>
      <div *ngIf="createDeliveryForm.get('deliveryMethod')?.hasError('required')">Delivery Method is required.</div>
    </label>
    <div class="btn-container">
      <button type="button" (click)="nextStep()" [disabled]="createDeliveryForm.get('deliveryMethod')?.invalid">Next
      </button>
    </div>
  </div>

  <!-- Step 2: Additional Details -->
  <div *ngIf="currentStep === 2">
    <label>
      Package Type:
      <select formControlName="selectedPackageType">
        <option value="" disabled>Select a Package Type</option>
        <option *ngFor="let packageType of packageTypes" [value]="packageType.id">{{ packageType.name }}</option>
      </select>
      <div *ngIf="createDeliveryForm.get('selectedPackageType')?.hasError('required')">Package Type is required.</div>
    </label>
    <label>
      Notes:
      <textarea formControlName="notes"></textarea>
    </label>

    <label>
      Route:
      <input type="text" formControlName="route"/>
      <div *ngIf="createDeliveryForm.get('route')?.hasError('required')">Route is required.</div>
    </label>

    <label>
      Destination Type:
      <select formControlName="destinationType" (change)="changeDestinationType()">
        <option value="" disabled>Select a Destination Type</option>
        <option *ngIf="createDeliveryForm.get('location')?.value !== ''" value="current">Current</option>
        <option value="custom">Custom</option>
      </select>
    </label>

    <label *ngIf="createDeliveryForm.get('destinationType')?.value === 'custom'">
      Destination:
      <input type="text" formControlName="destination"/>
      <div *ngIf="createDeliveryForm.get('destination')?.hasError('required')">Destination is required.</div>
    </label>

    <div class="btn-container">
      <button type="button" (click)="prevStep()">Back</button>
      <button type="submit" [disabled]="createDeliveryForm.invalid">Create Delivery</button>
    </div>

  </div>
</form>
