<form [formGroup]="createDeliveryForm" (ngSubmit)="createDelivery()" class="create-delivery-form">
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <label>
    Delivery Date:
    <input type="text" formControlName="deliveryDate" />
    <div *ngIf="createDeliveryForm.get('deliveryDate')?.hasError('required')">Delivery Date is required.</div>
  </label>

  <label>
    Delivery Status:
    <input type="text" formControlName="deliveryStatus" />
    <div *ngIf="createDeliveryForm.get('deliveryStatus')?.hasError('required')">Delivery Status is required.</div>
  </label>

  <label>
    Notes:
    <textarea formControlName="notes"></textarea>
  </label>

  <label>
    Package Type:
    <select formControlName="selectedPackageType">
      <option value="" disabled>Select a Package Type</option>
      <option *ngFor="let packageType of packageTypes" [value]="packageType.id">{{ packageType.name }}</option>
    </select>
    <div *ngIf="createDeliveryForm.get('selectedPackageType')?.hasError('required')">Package Type is required.</div>
  </label>

  <label>
    Delivery Method:
    <select formControlName="deliveryMethod">
      <option value="person">Person</option>
      <option value="mail">Mail</option>
      <option value="addon">Add-on</option>
    </select>
    <div *ngIf="createDeliveryForm.get('deliveryMethod')?.hasError('required')">Delivery Method is required.</div>
  </label>

  <!-- Render the second dropdown conditionally -->
  <div *ngIf="isAddonSelected()">
    <label>
      Add-on Options:
      <select formControlName="addonOptions">
        <!-- Add options for the addon dropdown here -->
      </select>
    </label>
  </div>

  <label>
    Route:
    <input type="text" formControlName="route" />
    <div *ngIf="createDeliveryForm.get('route')?.hasError('required')">Route is required.</div>
  </label>

  <label>
    Destination:
    <input type="text" formControlName="destination" />
    <div *ngIf="createDeliveryForm.get('destination')?.hasError('required')">Destination is required.</div>
  </label>

  <div class="btn-container">
    <button type="submit" [disabled]="createDeliveryForm.invalid">Create Delivery</button>
  </div>

</form>
