<div class="stakeholder-page-container">

  <div class="header">
    <button>
      <span class="material-symbols-outlined">
arrow_back
</span>
    </button>
    <h1>{{ stakeholder.name }}</h1>
<!--    <div class="header-buttons">-->
<!--      <button (click)="openModal()">Open Delivery Form</button>-->
<!--      <button (click)="triggerSubmit()">Submit</button>-->
<!--    </div>-->
  </div>

  <app-stakeholder-form [stakeholder]="stakeholder" ></app-stakeholder-form>

  <div class="delivery-container">
    <div class="modal-header">
      <h2>Delivery Plans</h2>
    </div>
    <ng-container *ngIf="stakeholder.packageId !== null; else noDelivery">
      <app-stakeholder-delivery [packageId]="stakeholder.packageId"></app-stakeholder-delivery>
    </ng-container>
    <ng-template #noDelivery>
      <div class="modal-content">

        <div class="submenu">
          <div (click)="selectComponent('delivery')" [class.selected]="selectedComponent === 'delivery'">Create Delivery</div>
          <div (click)="selectComponent('package')" [class.selected]="selectedComponent === 'package'">Add To Delivery</div>
        </div>

        <app-package-form *ngIf="selectedComponent === 'package'" [stakeholderId]="stakeholder.id.toString()" ></app-package-form>
        <app-delivery-form *ngIf="selectedComponent === 'delivery'" [stakeholder]="stakeholder" [projectId]="projectId"></app-delivery-form>
      </div>
    </ng-template>
  </div>

  <app-tract-list [tractRecords]="stakeholder.tractRecords"></app-tract-list>

</div>

