// Variables
$primary-color: #2196F3; // Replace with your primary color
$accent-color: #FFC107; // Replace with your accent color
$background-color: #ffffff; // Replace with your background color
$text-color: #333; // Replace with your text color

// Header Styles
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $background-color;
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  position: relative;

  @media (max-width: 768px)  {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-info {
    flex: 1;
    h1 {
      font-size: 24px;
      margin: 0;
      color: #007bff;
    }

    h2 {
      margin: 4px 0;
      color: grey;
      text-transform: uppercase;
      font-weight: lighter;
    }

    label {
      font-size: 14px;
      color: $background-color;
    }
  }

}

.project-tbl {
  width: 100%;
  border-collapse: collapse;

  .project-header {
    background-color: #f5f5f5;
    color: grey;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    th {
      flex: 1;
      padding: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

  }

  .project-row {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    transition: ease-in-out .3s;

    td {
      padding: 12px;
      border-bottom: 1px solid #eee;
    }

    td {
      flex: 1;
    }

    &:hover {
      background-color: #f0f0f0; /* Choose your desired hover background color */
    }
  }
}

.modal-overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 80%;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    animation: fadeUp 0.3s ease-in-out;

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 1rem;

      h2{
        margin: 0;
      }

      .close-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 30px; /* Adjust the size as needed */
        height: 30px; /* Equal to the width */
        padding: 5px;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .modal-content {
      flex: 1;
      overflow-y: auto;


      /* Thin scrollbar styles */
      scrollbar-width: thin;
      scrollbar-color: #ddd transparent;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ddd;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #8a2be2;
      }
    }
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
