/* styles.scss */

.stakeholder-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f5f5f5;
    font-weight: bold;
    position: sticky;
    top: 0;
  }

  tr {
    cursor: pointer;
    background-color: #fff;

    &:nth-child(even) {
      background-color: #f8f8f8;
    }
  }

  td {
    height: 100px;
    max-height: fit-content;
  }

  tr:hover {
    background-color: #f9f9f9;
  }
}
