  <table class="stakeholder-table">
    <thead>
    <tr class="stakeholder-table-header">
      <th>ID</th>
      <th>Name</th>
      <th>Street Address</th>
      <th>Mailing Address</th>
      <!-- Add more headers as needed -->
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let stakeholder of stakeholders"
      class="stakeholder-table-data hover:bg-gray-50 transition-colors"
    (click)="navigateToStakeholderPage(stakeholder, stakeholder.id)">
      <td>{{ stakeholder.id }}</td>
      <td>{{ stakeholder.name }}</td>
      <td>{{ stakeholder.streetAddress }}</td>
      <td>{{ stakeholder.mailingAddress }}</td>
      <!-- Add more cells as needed -->
    </tr>
    </tbody>
  </table>
