<div class="package-list-container">
  <ul class="package-list">
    <li *ngFor="let deliveryPackage of packages" class="package-item">

      <div class="package-header">
        <h3 class="stakeholder-name">{{ deliveryPackage.stakeholder?.name || 'N/A' }}</h3>
      </div>

      <div class="stakeholder-details">
        <span class="package-id"><strong>Street Address:</strong> {{ deliveryPackage.stakeholder?.streetAddress }}</span>
        <span class="package-status"><strong>Mailing Address:</strong> {{ deliveryPackage.stakeholder?.mailingAddress }}</span>
        <span class="package-status"><strong>Phone Number/s:</strong> {{ deliveryPackage.stakeholder?.phoneNumber }}</span>
        <span class="package-status"><strong>Contacted:</strong> {{ deliveryPackage.stakeholder?.contacted }}</span>
        <button class="view-button" (click)="navigateToStakeholderPage(deliveryPackage.stakeholder, deliveryPackage.stakeholder.id)">View Stakeholder</button>

      </div>


      <div class="package-details">
        <!-- Change Package Type Section -->
        <div class="change-package-type">
          <select [(ngModel)]="deliveryPackage.packageType.id" class="package-type-dropdown">
            <option *ngFor="let packageType of packageTypes" [value]="packageType.id">
              {{ packageType.name }}
            </option>
          </select>
          <button class="btn-primary submit-button">
            Change Package Type
          </button>
        </div>

        <!-- Package Type Details Section -->
        <div class="package-type-details">
          <h4 class="package-type-name">{{ deliveryPackage.packageType.name }}</h4>
          <span class="package-type-description">{{ deliveryPackage.packageType.notes }}</span>
        </div>

        <!-- Package Items Grid -->
        <div class="package-items-grid">
          <div *ngFor="let packageItem of deliveryPackage.packageType.items" class="package-item">
            <img
              [src]="'http://localhost:3005/images/' + packageItem.item.image"
              [alt]="'Image for ' + packageItem.item.name"
              class="item-image"
            />
            <div class="item-details">
              <span class="package-item-name">{{ packageItem.item.name }}</span>
              <span class="package-item-quantity">{{ packageItem.item.description }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Package Actions Section -->
      <div class="package-actions">
        <button class="btn-danger remove-button">
          Cancel Package
        </button>
      </div>

    </li>
  </ul>
</div>


